[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/spirv-cross"]
	path = external/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
